---
import FeatureBox from '../components/boxes/SimpleBox.astro';
---

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 w-5/6 mx-auto pb-10">
  <FeatureBox icon="/icons/qr.png" title="Escanea un HopeLink"  />
  <FeatureBox icon="/icons/leer.png" title="Lee la historia o necesidades" />
  <FeatureBox icon="/icons/dona_corazon.png" title="Dona de forma segura" />
  <FeatureBox icon="/icons/seguimiento.png" title="Seguimiento y transparencia" />
</div>